# virtual environment #
*env

# PyCharm #
.idea/

# python #
__pycache__/
*.pyc

# OS-related files #
.DS_Store

# Database #
*.db

# Alembic migrations #
alembic/versions/*
!alembic/versions/README.md
